@model MVC.Models.Video
@{
        ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@using (Html.BeginForm("Add", "Videos", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_VideoForm");

}

